<div >
    <h3>Reclamation Details</h3>
    <dl>
        <span>

      <dt>ID:</dt>
      <dd>12</dd>
    </span>

    <span>

      <dt>Sujet:</dt>
      <dd>Sujet</dd>
    </span>

    <span>

      <dt>Description:</dt>
      <dd>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae rem sequi eligendi! Veniam reprehenderit consectetur perspiciatis facilis veritatis saepe tempore, sunt mollitia, possimus libero totam rerum. Iste maxime sint laborum?
      Numquam aperiam dolores minima aliquid est recusandae eius modi eveniet aspernatur voluptate non laudantium illo quisquam illum voluptatem voluptatum officia veritatis unde autem aut, aliquam distinctio eligendi praesentium magni. Necessitatibus!
      Sequi, blanditiis sint laborum debitis error at omnis est enim amet minus libero natus voluptas molestias porro. Ducimus ratione accusantium dolorum dolore blanditiis porro vitae modi, quaerat, hic sit est?
      Deleniti dolore labore praesentium odit laborum minima voluptatum quaerat alias repellat minus, laboriosam perferendis ipsum aliquid rerum accusantium error soluta quo porro. Architecto, odio. Nobis necessitatibus suscipit nemo sunt fuga.
      Placeat explicabo possimus officia non ut, tempore quaerat minima! Rerum libero iure doloribus magnam nesciunt rem dolor sequi accusamus, blanditiis natus ex consectetur id nostrum quod voluptas? Atque, exercitationem necessitatibus.</dd>
    </span>

    <span>


      <dt>Date:</dt>
      <dd>28/05/2000</dd>
    </span>

    </dl>
  </div>

  <!-- <div>
    <p>No reclamation selected</p>
  </div>
   -->