<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
  <mat-drawer-container>
    <mat-drawer mode="side"  [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
   <mat-drawer-content>
    <div>
        <h2>Reclamations</h2>
        
        <app-reclamation-recherche></app-reclamation-recherche>
        
        <app-reclamation-table></app-reclamation-table>

        
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
<app-footer></app-footer>
