<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>X Y</h2>
            <h4>exempleemail.com</h4>
        </div>
        <img src="" alt="Adminitrator image">
    </div>

<mat-divider></mat-divider>

    <h2 matSubheader="padding: ">Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rapports">Aperçu</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reclamations">Réclamations</a>
    
    <mat-divider></mat-divider>

    

    

</mat-nav-list>