<h1>Historique des reclamations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">date</th>
      <th scope="col">action</th>
      <th scope="col">id_utilisateur</th>
      <th scope="col">id_reclamation</th>
      <th scope="col">Audit_rec</th>
      <th scope="col">etat_Audit</th>
      <th scope="col">id_client</th>
      <th scope="col">id_produit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reclamation of reclamations; let index=index">
      <td>{{ reclamation.id }}</td>
      <td>{{ reclamation.date }}</td>
      <td>{{ reclamation.action }}</td>
      <td>{{ reclamation.id_utilisateur }}</td>
      <td>{{ reclamation.id_reclamation }}</td>
      <td><button (click)="audit(index)">Audit</button></td>
      <td>
        {{ reclamation.etat }}
        <!-- <select (change)="changeEtat(reclamation, $event.target.value)">
          <option value="En Cours">En Cours</option>
          <option value="Traitée">Traitée</option>
        </select> -->
        <select name="reclamation" (change)="changeState(reclamation, $event)" >
          <option>--SELECT--</option>
          <option [value]="etat.name" *ngFor="let etat of etats">{{etat.name}}</option>
        </select>
      </td>
      <td>{{ reclamation.id_client }}</td>
      <td>{{ reclamation.id_produit }}</td>
      <td><button (click)="handleClick($event, reclamation.id)">Exit</button></td>
    </tr>
  </tbody>
</table>
