<h1>Historique des reclamations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">date</th>
      <th scope="col">type</th>
      <th scope="col">etat</th>
      <th scope="col">description</th>
      <th scope="col">id_client</th>
      <th scope="col">id_produit</th>
      <th scope="col">id_commande</th>
      <th scope="col">id_livraison</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reclamation of reclamations">
      <td>{{ reclamation.id }}</td>
      <td>{{ reclamation.date }}</td>
      <td>{{ reclamation.type }}</td>
      <td>
        <!-- <select (change)="changeEtat(reclamation, $event.target.value)">
          <option value="En Cours">En Cours</option>
          <option value="Traitée">Traitée</option>
        </select> -->
        <select name="reclamation" (change)="changeState(reclamation, $event)" >
          <option>Choisir Etat</option>
          <option [value]="etat.name" *ngFor="let etat of etats">{{etat.name}}</option>
        </select>
      </td>
      <td>{{ reclamation.description }}</td>
      <td>{{ reclamation.id_client }}</td>
      <td>{{ reclamation.id_produit }}</td>
      <td>{{ reclamation.id_commande }}</td>
      <td>{{ reclamation.id_livraison }}</td>
      <td><button (click)="handleClick($event, reclamation.id)">Click me</button></td>
    </tr>
  </tbody>
</table>
